body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  .hintsquare {
    background: darkgrey;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .game-board
  {
    border-right: 3px solid;
    border-bottom: 3px solid;
   
  }
  .board-col
  {
    display: flex;
    flex-direction: row;
  }
  table
  {
    border-collapse: collapse;

  }
  .game-win
  {
    border-right: 3x solid;
    border-bottom: 3px solid;
    outline: solid 5px green;
  }
  .xSodu
  {
    border-top: 3px solid black !important;
  

  }
  .ySodu
  {
    border-left:  3px solid black !important;
    
  }
